/* # CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* # UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
}
img {
    max-height: 100%;
    width: 100%;
    display: block;
}

/* # GENERICS */


/* # CAROUSEL */
#carousel {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

/*  # GALLERY */
#gallery {
    height: 100%;
}

#gallery img {
    border-radius: 20px;
    display: none;
}

#gallery img.active {
    display: block;
}

#carousel i {
    color: white;

    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}



