/* # CSS RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* # UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
}
#carousel img {
    height: 100%;
    width: 100%;
    display: block;
}

/* # GENERICS */
.wrapper {
    display: flex;
    justify-content: center;
    height: 500px;
}


/* # CAROUSEL */
#carousel {
    height: 100%;
    width: 70%;
    
    position: relative;
}

/*  # GALLERY */
#gallery {
    height: 100%;
}

#gallery img {
    border-radius: 20px 0 0 20px;
    display: none;
}

#gallery img.active {
    display: block;
}

#carousel i {
    color: white;

    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

/* # THUMBNAILS */
#thumbnails {
    display: flex;
    flex-direction: column;
}

#thumbnails img {
    height: 100px;
}

#thumbnails img:first-child {
    border-top-right-radius: 20px;
}

#thumbnails img:last-child {
    border-bottom-right-radius: 20px;
}


